{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ userInformation.name }} ({{ userInformation.login }})</h1>
                <h2>Company: {{ userInformation.company }}</h2>
                <table>
                    <tr>
                        <th>Bio and location</th>
                        <td><span>{{ userInformation.bio }} {{ userInformation.location }}</span></td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="{{ userInformation.blog}}" target="_blank"><span>{{ userInformation.blog }} </span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Public Repos / Followers</th>
                        <td>
                            <p>
                                <a href="https://github.com/{{ userInformation.login }}?tab=repositories" target="_blank"><span> Public repos: {{ userInformation.public_repos }} </span></a>
                            </p>
                            <p>
                                <a href="https://github.com/{{ userInformation.login }}/followers" target="_blank"><span> Followers: {{ userInformation.followers }} </span></a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Repositories which user is owner</th>
                        <td>
                            <table>
                                <tr>
                                    <th>Name (full name)</th>
                                    <th>Description</th>
                                    <th>Main Language</th>
                                    <th>Size</th>
                                    <th>Create</th>
                                    <th>Update</th>
                                    <th>Pushed</th>
                                    <th>URL</th>
                                </tr>
                                {% for repository in repositoryList %}
                                    <tr>
                                        <td>{{ repository.name }} ({{ repository.full_name }})</td>
                                        <td>{{ repository.description }}</td>
                                        <td>{{ repository.language }}</td>
                                        <td>{{ repository.size }}</td>
                                        <td>{{ repository.created_at|date("d-m-Y") }}</td>
                                        <td>{{ repository.updated_at|date("d-m-Y") }}</td>
                                        <td>{{ repository.pushed_at|date("d-m-Y") }}</td>
                                        <td><a href="{{ repository.html_url }}" target="_blank">{{ repository.html_url }}</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>
                            <table id="languages">
                                <tr>
                                    {% for key,value in languages %}
                                        <td>
                                            <p>{{ key }}</p>
                                            <p>{{ value }} %</p>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    table {
        width:100%;
    }
    #languages td{
        padding: 10px 10px 10px 10px;
    }
</style>
{% endblock %}
